.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after{
  clear:both;
}
.clearfix{
  *zoom:1;/*ie6,7*/
}
html,
button,
input,
select,
textarea {
  font: 14px/1.5em "微软雅黑","黑体";
}
body {
  background: #939393;
  font: 14px/1.5em "微软雅黑","黑体";
  color: #757474;
  word-wrap: break-word;
  overflow-x: hidden;
}
#page {
  width: 960px;
  background: #fff url(../images/bg.png) bottom no-repeat;
  margin: 0 auto;
  border: 1px solid #c9c9c9;
}
#header {
  height: 127px;
  background: url(../images/header.png) no-repeat;
}
#header .home {
  display: block;
  height: 127px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#main {
  margin-top: 30px;
}
#sidebar-first,
#sidebar-second,
#content {
  float: left;
}
#sidebar-first {
  width: 170px;
}
#sidebar-second {
  width: 200px;
}
.sidebar-first #content {
  width: 790px;
}
.sidebar-second #content {
  width: 760px;
}
.two-sidebars #content {
  width: 590px;
}
.no-sidebars #content {
  width: 960px;
}
.no-sidebars #content .inner {
  padding: 0 200px;
}
#content .inner {
  margin: 0 2px;
}
#footer {
  height: 49px;
  background: url(../images/footer.png) top center no-repeat;
}
.copyright {
  text-align: center;
  color: #b5b5b6;
  padding-top: 15px;
}

#superfish-1 {
  margin-left: 18px;
}
#superfish-1 li.sf-depth-1 {
  background: #dcdddd;
  border-radius: 5px;
  width: 136px;
  margin-bottom: 1px;
  float: none;
}
#superfish-1 li.sf-depth-1.active-trail,
#superfish-1 li.sf-depth-1:hover {
  background: #009cdf;
}
#superfish-1 li a.sf-depth-1 {
  color: #009cdf;
  display: block;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
}
#superfish-1 li.sf-depth-1 > a.active,
#superfish-1 li.sf-depth-1.sfHover > a,
#superfish-1 li.active-trail > a,
#superfish-1 li.sf-depth-1 > a:hover {
  color: #fff;
}
.sf-vertical li:hover > ul,
.sf-vertical li.sfHover > ul {
  left: 136px;
  top: 0;
  background: #009cdf;
  border-radius: 5px;
}
#superfish-1 li.sf-depth-2 {
  line-height: 20px;
  text-align: center;
  margin: 5px 0;
}
#superfish-1 li.sf-depth-2 a {
  color: #fff;
  text-decoration: none;
  display: block;
}
#superfish-1 li.sf-depth-2 a:hover,
#superfish-1 li.sf-depth-2 a.active {
  color: #abcd05;
}

h1.page-title {
  font-size: 24px;
  line-height: 1.5em;
  color: #000;
  margin: 0;
}
h2.sub-title {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  line-height: 2em;
  color: #7bc423;
  margin: 0;
  background: url(../images/page-title.png) bottom no-repeat;
}

h2.content-title{
  font-size:16px;
  font-weight:normal;
  color:#7bc423;
}

/* Sign Up */
#block-block-1 {
  width: 174px;
  height: 128px;
  margin-bottom: 85px;
}
#block-block-1 .sign-up {
  margin: 0 20px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');
  text-align: center;
  font-weight: bold;
}
#block-block-1 .sign-up a {
  color: #0068b6;
  line-height: 35px;
  height: 35px;
  display: block;
  text-decoration: none;
}

#block-views-sponsors-organizer,
#block-views-sponsors-sponsor {
  width: 150px;
  margin-left: 25px;
  border-bottom: 1px solid #bcbcbc;
}
#block-views-sponsors-organizer h2,
#block-views-sponsors-sponsor h2 {
  font-weight: normal;
  font-size: 18px;
}
.view-sponsors .views-row {
  margin-bottom: 20px;
}

/* Tabs */
.tabs.primary {
  margin: 0;
  border-bottom: 1px solid #c2c0c0;
  padding: 0 0 0 10px;
}
.tabs.primary li {
  margin: 0;
}
.tabs.primary a {
  display: inline-block;
  padding: 2px 12px;
  color: #695252;
  margin-right: 0;
  background-color: transparent;
  border: none;
}
.tabs.primary .active a {
  border:1px solid #c2c0c0;
  border-bottom-color: #f1f1f1;
  border-radius: 3px 3px 0 0;
  background: #f1f1f1;
  margin-bottom: -1px;
  color: #308fc7;
  box-shadow: -2px 0 1px -1px rgba(0,0,0,0.15),
  2px 0 1px -1px rgba(0,0,0,0.15),
  0 -2px 1px -1px rgba(0,0,0,0.15),
  inset 0 1px 0 rgba(255,255,255,.8),
  inset 1px 0 0 rgba(255,255,255,.8),
  inset -1px 0 0 rgba(255,255,255,.8);
}

/* 用户 */
#user-register-form .form-submit {

}

/* Webform */
.webform-client-form label {
  display: inline-block;
  width: 250px;
  text-align: right;
}
.webform-client-form input.form-text {
  width: 250px;
}
#edit-submitted-directory {
  float: right;
}
#edit-submitted-directory label {
  width: 100%;
  text-align: left;
  display: inline;
}

/* block-style */
#block-block-2,
#block-block-3 {
  margin: 20px 5px 20px 20px;
  clear: both;
}
#block-block-2 h2,
#block-block-3 h2 {
  font-size: 15px;
  color: #009cdf;
}
#block-block-2 ul,
#block-block-3 ul {
  font-size: 13px;
  list-style: none;
  padding: 0;
  color: #939393;
}
#block-block-2 a,
#block-block-3 a {
  color: #939393;
}
